{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        {{ 'open_marketplace.ui.summary_of_your_order'|trans }}
        {% if order.primary %}
            {% for suborder in order.secondaryOrders %}
                <span> #{{ suborder.number }}</span>
            {% endfor %}
        {% else %}
            <span> #{{ order.number }}</span>
        {% endif %}
        <div class="sub header">
            <div class="ui horizontal divided list">
                <div class="item">
                    {{ order.checkoutCompletedAt|date }}
                </div>
                <div class="item">
                    {{ money.convertAndFormat(order.total) }}
                </div>
                <div class="item">
                    {{ order.totalQuantity }} {{ 'sylius.ui.items'|trans|lower }}
                </div>
            </div>
        </div>
    </div>
</h1>
