<div id="details">
    <h4 class="ui top attached large header">{{ 'bitbag_sylius_multi_vendor_marketplace_plugin.ui.details'|trans }}</h4>
    <div class="ui attached segment">
        <table class="ui very basic celled table">
            <tbody>
            <tr>
                <td class="five wide"><strong class="gray text">{{ 'bitbag_sylius_multi_vendor_marketplace_plugin.ui.name'|trans }}</strong></td>
                <td>
                    <ul class="ui bulleted list">
                        <li>{{ productListing.name }}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="five wide"><strong class="gray text">{{ 'bitbag_sylius_multi_vendor_marketplace_plugin.ui.published_at'|trans }}</strong></td>
                <td>
                    <ul class="ui bulleted list">
                        <li>{{ productListing.publishedAt | date }}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="five wide"><strong class="gray text">{{ 'bitbag_sylius_multi_vendor_marketplace_plugin.ui.status'|trans }}</strong></td>
                <td>
                    <ul class="ui bulleted list">
                        <li>{{ productListing.status }}</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
