{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('mvm_vendor_conversation_index') }}" class="section">{{ 'mvm.ui.conversations_listing.breadcrumb_header'|trans }}</a>
        <div class="divider"> / </div>
        {% if conversation.category is not null %}
            <div class="active section">{{ conversation.category.name }}</div>
        {% else %}
            {% set author = conversation.messages.first.author %}
            <div class="active section">{{ author.firstName ~ ' ' ~ author.lastName }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block subcontent %}
    {% include "App/Conversation/Common/_showConversation.html.twig" %}
{% endblock %}
