<h4 class="ui top attached large header">{{ 'open_marketplace.ui.rejection_details'|trans }}</h4>
<div class="ui form" style="position: relative">
    {{ form_start(form, { attr: { class: 'ui form', id: 'reject-form'}}) }}
    <div class="ui attached segment">
        <div class="ui stackable grid">
            <div class="column ten wide">
                {{ form_row(form.category) }}
                {{ form_row(form.messages.vars.prototype.content) }}
            </div>
            <div class="column six wide">
                {{ form_row(form.messages.vars.prototype.file) }}
            </div>
            {{ form_row(form._token) }}
        </div>
    </div>

    <div class="ui hidden divider"></div>

    {{ form_end(form, { 'render_rest': false }) }}

    <form action="{{ path('open_marketplace_admin_product_listing_accept', { 'id': productListing.id }) }}"
          method="post"
          style="display: inline-block"
          id="accept-form">

        <button type="submit" form="accept-form" class="ui button teal" style="display: inline;" data-requires-confirmation>
            <i class="icon check"></i>{{ 'open_marketplace.ui.accept' | trans }}
        </button>
    </form>

    <button type="submit" form="reject-form" class="ui red labeled icon button" style="display: inline-block;">
        <i class="icon x"></i>{{ 'open_marketplace.ui.reject' | trans }}
    </button>
</div>
