<div class="ui small negative icon message" id="sylius-product-out-of-stock"  {{ sylius_test_html_attribute('product-out-of-stock') }}>
    <i class="remove icon"></i>
    <div class="content">
        {{ 'sylius.ui.out_of_stock'|trans }}
    </div>
</div>
{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="ui segment" id="sylius-product-selecting-variant">
    {{ sonata_block_render_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}

    {{ form_start(form, {
        'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}),
        'attr': {
            'id': 'sylius-product-adding-to-cart',
            'class': 'ui loadable form',
            'novalidate': 'novalidate',
            'data-redirect': path(configuration.getRedirectRoute('summary'))
        }
    }) }}

    {{ form_errors(form) }}

    <div class="ui red label bottom pointing hidden sylius-validation-error" id="sylius-cart-validation-error"></div>

    {{ form_widget(form.wishlists) }}
    <br />

    <button
            id="{{ form.addToWishlist.vars.id }}"
            name="{{ form.addToWishlist.vars.full_name }}"
            class="{{ form.addToWishlist.vars.attr.class }}"
            data-bb-toggle="wishlist-variant"
            {{ sylius_test_html_attribute('wishlist-add-variant') }}
    >
        <i class="heart icon"></i>
        {{ form.addToWishlist.vars.label|trans }}
    </button>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
