{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('open_marketplace_vendor_conversation_index') }}" class="section">{{ 'open_marketplace.ui.conversations_listing.breadcrumb_header'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'open_marketplace.ui.create_new_conversation_breadcrumb'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    {% include "Conversation/Common/_createConversationForm.html.twig" %}

{% endblock %}
