<div class="ui stackable two column grid">
    <div class="column wide eight">
        {{ 'mvm.ui.conversation.archive_request_text_first_line'|trans }}<br />
        {{ 'mvm.ui.conversation.archive_request_text_second_line'|trans }}
    </div>

    <div class="ui column eight right aligned">
        <form action="{{ path('mvm_vendor_conversation_archive', { id: conversation.id }) }}" method="post">
            <input type="hidden" name="_method" value="PATCH">

            <div class="created-at right top aligned" style="margin-bottom: 6px;">
                <a class="ui basic label">{{ message.createdAt|date }}</a>
            </div>

            {% if conversation.isClosed() == false and app.user is not same as message.author %}
                <button class="ui green labeled icon button" type="submit" data-requires-confirmation {{ sylius_test_html_attribute('delete-button') }}>
                    <i class="icon check"></i> {{ 'mvm.ui.conversation.yes'|trans }}
                </button>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(conversation.id) }}" />
        </form>
    </div>
</div>
