{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('bitbag_mvm_plugin_vendor_conversation_index') }}" class="section">{{ 'bitbag_mvm_plugin.ui.conversations_listing.breadcrumb_header'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'bitbag_mvm_plugin.ui.create_new_conversation_breadcrumb'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    {% include "@BitBagSyliusMultiVendorMarketplacePlugin/Conversation/Common/_createConversationForm.html.twig" %}

{% endblock %}
