{% extends '@SyliusShop/Account/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'bitbag_mvm_plugin.ui.conversations_listing.breadcrumb_header'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="ui stackable two column grid">
        <div class="column">
            <h1 class="ui header">
                {% if app.request.query.get('closed') %}
                    <i class="icon archive"></i>
                    <div class="content">
                        {{ 'bitbag_mvm_plugin.ui.conversations_listing.listing_header_closed'|trans }}
                        <div class="sub header">{{ 'bitbag_mvm_plugin.ui.conversations_listing.your_closed_conversations'|trans }}</div>
                    </div>
                {% else %}
                    <i class="icon envelope open"></i>
                    <div class="content">
                        {{ 'bitbag_mvm_plugin.ui.conversations_listing.listing_header_open'|trans }}
                        <div class="sub header">{{ 'bitbag_mvm_plugin.ui.conversations_listing.your_open_conversations'|trans }}</div>
                    </div>
                {% endif %}
            </h1>
        </div>
        <div class="middle aligned column">
            <a href="{{ path('bitbag_mvm_plugin_vendor_conversation_create') }}" class="ui right floated blue button">
                <i class="circle plus icon"></i>
                {{ 'bitbag_mvm_plugin.ui.create_new_conversation'|trans }}
            </a>

            {% if app.request.query.get('closed') %}
                <a href="{{ path('bitbag_mvm_plugin_vendor_conversation_index') }}" class="ui right floated green button">
                    <i class="inbox icon"></i>
                    {{ 'bitbag_mvm_plugin.ui.open_conversations'|trans }}
                </a>
            {% else %}
                <a href="{{ path('bitbag_mvm_plugin_vendor_conversation_index', { closed: true }) }}" class="ui right floated green button">
                    <i class="archive icon"></i>
                    {{ 'bitbag_mvm_plugin.ui.closed_conversations'|trans }}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="ui divider"></div>

    {% if conversations|length == 0 %}
        {% if app.request.query.get('closed') %}
            {{ messages.info('bitbag_mvm_plugin.ui.conversations_listing.no_closed_conversations') }}
        {% else %}
            {{ messages.info('bitbag_mvm_plugin.ui.conversations_listing.no_open_conversations') }}
        {% endif %}
    {% endif %}

    {% if conversations|length > 0 %}
        {% for conversation in conversations %}
            <div class="ui stackable two column grid segment">
                <div class="column one wide middle aligned">
                    <i class="circular envelope icon"></i>
                </div>

                <div class="column fifteen wide">
                    <div class="message item">
                        <a href="{{ path('bitbag_mvm_plugin_vendor_conversation_show', { id: conversation.id }) }}">
                            <div class="content">
                                <div class="ui medium header">
                                    {% if conversation.category is not null %}
                                        {{ conversation.category.name }}

                                    {% endif %}
                                    {% if conversation.messages.first.adminUser is not null %}
                                        {{ 'bitbag_mvm_plugin.ui.conversation.admin_conversation'|trans }}
                                    {% else %}
                                        {{ 'bitbag_mvm_plugin.ui.conversation.user_conversation'|trans }}
                                    {% endif %}
                                    {% set lastMessage = conversation.messages|last.content %}
                                    {% set archiveText = constant('BitBag\\SyliusMultiVendorMarketplacePlugin\\Storage\\MessagesStorage::ARCHIVE_REQUEST_MESSAGE') %}
                                    {% if archiveText in lastMessage %}
                                        {% set lastMessage = 'bitbag_mvm_plugin.ui.conversation.archive_request_text_first_line'|trans %}
                                    {% endif %}
                                    <div class="sub header">
                                        <div class="ui two column stackable grid">
                                            <div class="ten column wide">{{ lastMessage|capitalize }}</div>
                                            <div class="six column wide right aligned">{{ conversation.messages|last.createdAt|date }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


