{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% if data.latestDraft.status != 'under_verification' %}
<div class="ui buttons">
    <div class="ui labeled icon floating dropdown  link button" tabindex="0">
        <i class="angle down icon"></i>
        <span class="text">{{ 'open_marketplace.ui.more'|trans }}</span>
        <div class="menu" tabindex="-1">
            {% if data.latestDraft.status != 'under_verification' %}
            <a href="{{ path('open_marketplace_vendor_product_listing_edit_product', {'id': data.id }) }}"
               class="item"><i class="edit icon"></i>{{ 'sylius.ui.edit'|trans }}
            </a>
            {% endif %}

            {% if data.removed == false %}
            <form action="{{ path('open_marketplace_vendor_product_listing_remove_action', {'id': data.id }) }}" method="post">
                <button class="item require_confirmation_button" data-requires-confirmation><i class="trash icon"></i>{{ 'open_marketplace.ui.remove'|trans }}</button>
            </form>
            {% endif %}

            <form action="{{ path('open_marketplace_vendor_product_listing_enable', {'id': data.id }) }}" method="post">
                <button id="enable" class="item require_confirmation_button" data-requires-confirmation>
                    <i class="low vision icon"></i>
                    {% if data.enabled == true %}
                    {{ 'open_marketplace.ui.enable'|trans }}
                    {% else %}
                    {{ 'open_marketplace.ui.disable'|trans }}
                    {% endif %}
                </button>
            </form>

            {% if data.latestDraft.status != 'under_verification' and data.latestDraft.status != 'verified' %}
            <form action="{{ path('open_marketplace_vendor_product_listing_send_for_verification', {'id': data.id }) }}" method="post">
                <button class="item send-for-verification" data-requires-confirmation>
                    <i class="paper plane icon"></i>{{ 'open_marketplace.ui.send_for_verification'|trans }}</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
